@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<p>The Employees Loan Management System will help an organization to manage loan for its
employees online in an efficient way. Employees can request loans, which will be reviewed
by the HR department and then loans will be approved or rejected. In case, loan is rejected,
employee will be informed the reason of loan rejection. However, in case of loan approval,
Loan approval terms and conditions, loan repayment schedule will be provided to employee.
If employee will agree with the loan offer, terms and condition and repayment schedule, then
loan will be granted to the employee and automatic deduction from employee salary will be
made.</p>
