@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>


<h4> Muhammad Azhar </h4>
<h5>Email Id: 2016CS101@student.edu.pk</h5>
<h4> Mehreen Gull </h4>
<h5>Email Id: 2016CS158@student.edu.pk</h5>
<h4> Rida Zara </h4>
<h5>Email Id: 2016CS164@student.edu.pk</h5>

<address>
    University of Engineering and Technology Lahore-Pakistan
</address>