@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <center> <h1>Loan Managment System</h1></center>
   
</div>

<div class="row">
    <div class="col-md-4">
        <left>
            <center><h2>Importance</h2></center>
            <p>
                In today's transforming financial landscape, lenders are looking for modern, technologically superior loan management system that automates key processes. The need of the hour is for systems which are scalable, fast, flexible and agile, while being cost efficient.
            </p>
        </left>
       
    </div>
   
    <div class="col-md-4">
        <right>
            <center> <h2>Help</h2> </center>
            LMS loan management system helps in quality improvement, improving turnaround time and better service for customers. It helps banks and financial institutions to improve the activity, transparency, competency and efficiency of their lending solutions.
        </right>
           </div>
    <div class="col-md-4 ">
        <right>
            <center>
                <h2>Use</h2>
                The process of providing a loan to an individual or a commercial business should be straightforward: Your business needs to evaluate a customer’s ability to re-pay, approve or deny, offer the appropriate credit, and then provide the funds to the customer. Loan management software was developed to streamline this process.
            </center>
        </right>

    </div>

   
   
</div>