
@{
    ViewBag.Title = "DASHBOARD";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div style="margin:0">
    <div style="text-align:center;display:inline-block">
        <div class="jumbotron">
            <h1 class="display-4">EMPLOYEES</h1>
            <p class="lead">0</p>
            <hr class="my-4">
        </div>

        <div class="jumbotron">
            <h1 class="display-4">DEPARTMENTS</h1>
            <p class="lead">0</p>
            <hr class="my-4">

        </div>
        <div class="jumbotron">
            <h1 class="display-4">&nbsp;&nbsp;&nbsp;&nbsp;LOAN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
            <p class="lead">0</p>
            <hr class="my-4">
        </div>
    </div>
    <div style="width:100%">
        <h2>List of Employes in Each Department</h2>
        <table id="table_id" class="table">
            <thead>
                <tr>
                    <th>
                        DEPATRMENT
                    </th>
                    <th>
                        EMPLOYEE NAME
                    </th>
                    <th>
                        RANK
                    </th>
                    <th>
                        TYPE
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--All Login Inside It -->
            </tbody>
        </table>
    </div>
</div>

