
@{
    ViewBag.Title = "UpdateCompanyInfo";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div style="margin:0;width:100%">

    <div style="width:100%">
        <h2>Company Information</h2>
        <div style="display:inline-block">
            Linosis

        </div>
        <div>
            Logo

        </div>

    </div>
</div>


